<div class="page-content">    
    <div class="col-md-12 order_details_panel">
        <div class="col-md-3">
            <div class="row">
                <div class="panel panel-default admin-dash_table">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong> Search Orders </strong></h3>                        
                    </div>
                    <div class="panel-body search_form">
                        <form role="form">                            
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <select class="form-control" name="material" [(ngModel)]="filterObject.material">
                                            <option [ngValue]="''"> Select Material </option>
                                            <option *ngFor="let material of materials" [ngValue]="material.name"> {{material.name}} </option>
                                        </select>
                                    </div>
                                    <div class="col-md-12 no-padd-l">
                                        <button (click)="filterOrders()" class="btn btn-Check_status btn_new_order btn-sm"> Get Orders</button>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group ">
                                    <hr>
                                    <div class="col-md-12">
                                        <label>Builder Name</label>
                                        <div class="form-group">
                                            <select class="form-control" name="builder" [(ngModel)]="filterObject.firm_name">
                                                <option [ngValue]="''">Select Name</option>
                                                <option *ngFor="let builder of builders" [ngValue]="builder"> {{builder}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Status</label>
                                        <select class="form-control" name="status" [(ngModel)]="filterObject.orderStatus">
                                            <option [ngValue]="''">Select status</option>
                                            <option *ngFor="let status of statuslist" [ngValue]="status"> {{status}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="col-md-12">
                                        <label>Orders from</label>                                        
                                        <div class="row"> 
                                            <div class="col-md-12">                                           
                                                <div class="input-group">                                                
                                                    <input class="form-control" style="float:none" placeholder="" ngx-mydatepicker name="mydate"
                                                    [(ngModel)]="fromDate" [options]="myOptions" readonly #dpFrpm="ngx-mydatepicker"/>
                                                    <span class="input-group-addon " (click)="dpFrpm.toggleCalendar()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                </div>
                                            </div>                                            
                                        </div>                                                    
                                    </div>
                                    <div class="col-md-12">
                                        <label>Orders till</label>
                                        <div class="row"> 
                                            <div class="col-md-12">                                           
                                                <div class="input-group">                                                
                                                    <input class="form-control" style="float:none" placeholder="" ngx-mydatepicker name="mydate"
                                                    [(ngModel)]="toDate" [options]="myOptions" readonly #dpTo="ngx-mydatepicker"/>
                                                    <span class="input-group-addon " (click)="dpTo.toggleCalendar()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <button class="btn btn-Check_status btn_new_order btn-sm" (click)="resetOrders()"> Reset</button>
                                </div>                
                                <div class="col-md-6">
                                    <button class="btn btn-Check_status btn_new_order btn-sm col-md-6" (click)="filterOrders()"> Search</button>
                                </div>                                                
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 no-padd-r">
            <div class="col-md-12 no-padd">
                <div class="panel panel-default admin-dash_table">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Orders </strong></h3>
                        <!--div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div-->
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <e2edt-table [rows]="orders" [columns]="OrderColumns" [noRecordsText]="'No orders found.'" [recordsPerPage]="5"></e2edt-table>
                        </div>
                        <div class="Pricing" *ngIf="ordersCopy.length>0">
                            <form #form="ngForm" (ngSubmit)="submitForm(form)" name="pricingForm">
                                <div class="col-md-12 form-group no-padd">
                                    <div class="col-md-3">
                                        <label>Price<span [hidden]="updatePayload.order_status==5">*</span></label>
                                        <input type="number" (change)="updateAmount()" name="price" #inpPrice="ngModel" [disabled]="!rowSelected" [required]="updatePayload.order_status!==5" class="form-control" placeholder="Price" [(ngModel)]="updatePayload.unit_price">
                                    </div>
                                    <div class="col-md-3">
                                        <label>Amount<span [hidden]="updatePayload.order_status==5">*</span></label>
                                        <input type="text" name="amount" disabled class="form-control" placeholder="Amount"  [(ngModel)]="updatePayload.amount">
                                    </div>
                                    <div class="col-md-3">
                                        <label>Vendor Firm<span [hidden]="updatePayload.order_status!==4">*</span></label>
                                        <input ngui-auto-complete [(ngModel)]="updatePayload.vendor_firm" [required]="updatePayload.order_status==4"  (valueChanged)="vendorSelected($event)" min-chars="2" list-formatter="firm_name" [disabled]="!rowSelected" autocomplete="rowSelected" name="vendorFirm" [source]="filteredVendors" />
                                    </div>
                                    <div class="col-md-3">
                                        <label>Vendor Mobile<span [hidden]="updatePayload.order_status!==4">*</span></label>
                                        <input type="text" disabled name="vendorMobile" [required]="updatePayload.order_status==4" [(ngModel)]="updatePayload.vendor_mobile" placeholder="Vendor Mobile Number" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12 form-group no-padd">
                                    <div class="col-md-3">
                                        <label>Order Status</label>
                                        <select name="ddStatus" class="form-control" (change)="statusChanged()" [(ngModel)]="updatePayload.order_status">
                                            <option [ngValue]="2">Onhold </option>
                                            <option [ngValue]="5">Rejected </option>
                                            <option [ngValue]="4">Delivered </option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Expected Delivery Date</label>
                                        <!-- <input name="cDate" #inpCDate="ngModel" [(ngModel)]="updatePayload.confirmation_date" [required]="updatePayload.order_status==4" [disabled]="updatePayload.order_status!==4" type="date" class="form-control">  -->
                                        <div class="input-group">                                                
                                            <input class="form-control" #inpCDate="ngModel" style="float:none" placeholder="" ngx-mydatepicker name="confirmDate" 
                                            [(ngModel)]="confirmDate" [options]="myOptions" readonly #cDate="ngx-mydatepicker"/> 
                                            <span class="input-group-addon " (click)="(updatePayload.order_status!==2)?'':cDate.toggleCalendar()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Delivery Date<span [hidden]="updatePayload.order_status!=4">*</span></label>
                                         <!-- <input name="dDate" #inpDDate="ngModel" [(ngModel)]="updatePayload.delivery_date" [required]="updatePayload.order_status==4" [disabled]="updatePayload.order_status!==4" type="date" class="form-control">  -->
                                         <div class="input-group">                                                
                                            <input class="form-control" #inpDDate="ngModel" [required]="updatePayload.order_status==4" style="float:none" placeholder="" ngx-mydatepicker name="deliveryDate"
                                            [(ngModel)]="deliveryDate" [options]="myOptions" readonly #dDate="ngx-mydatepicker"/>
                                            <span class="input-group-addon " (click)="(updatePayload.order_status!==4)?'':dDate.toggleCalendar()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Delivery Qty<span [hidden]="updatePayload.order_status!=4">*</span></label>
                                        <input name="qty" #inpDQty="ngModel" (change)="updateAmount()" [(ngModel)]="updatePayload.delivery_quantity" [required]="updatePayload.order_status==4"  type="number" class="form-control" placeholder="Delivery Qty">
                                    </div>
                                </div>
                                <div class="col-md-12 form-group no-padd">
                                    <div class="col-md-9">
                                        <textarea class="form-control" name="comments" [(ngModel)]="updatePayload.comments" placeholder="Comments"></textarea>
                                    </div>
                                    <div class="col-md-3">
                                        <br>
                                        <button type="submit" [disabled]="!rowSelected" class="btn btn-Check_status btn_new_order btn-sm"><span *ngIf="updatePayload.order_status==4">Invoice</span><span *ngIf="updatePayload.order_status!=4">Save</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>