<div class="page-content">
    <!-- registration form -->
    <div class="col-md-12 order_details_panel">
        <div class="col-md-12">
            <div class="row">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong> Search Orders </strong></h3>
                    <!--div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div-->
                </div>
                <div class="panel-body search_form_history">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3 ">
                            <div class="col-md-12">
                                <label>Material</label>
                                <div class="form-group">
                                    <select class="form-control" name="material" [(ngModel)]="filterObject.material">
                                    <option [ngValue]="''">Select Material</option>
                                    <option *ngFor="let material of materials" [ngValue]="material"> {{material}} </option>
                                    </select>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-3 form-group">
                            <div class="col-md-12">
                                <label>Order Date from</label>
                                <div class="input-group">
                                    <input class="form-control" style="float:none" placeholder="" ngx-mydatepicker name="fromDate"
                                    [(ngModel)]="fromDate" [options]="myOptions" readonly #dpFrm="ngx-mydatepicker"/>
                                    <span class="input-group-addon " (click)="dpFrm.toggleCalendar()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-3">
                            <div class="col-md-12">
                                <label>To</label>
                                <div class="input-group">
                                    <input class="form-control" style="float:none" placeholder="" ngx-mydatepicker name="toDate"
                                    [(ngModel)]="toDate" [options]="myOptions" readonly #dpTo="ngx-mydatepicker"/>
                                    <span class="input-group-addon " (click)="dpTo.toggleCalendar()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-3">
                            <div  class="col-md-12">
                                <label>Status</label>
                                <select class="form-control" [(ngModel)]="filterObject.orderStatus" name="status">
                                    <option [ngValue]="''">Select status</option>
                                    <option [ngValue]="'Delivered'">Delivered</option>
                                    <option [ngValue]="'Rejected'">Rejected</option>                                          
                                </select>
                            </div>
                            </div>
                            <div class="col-md-3">
                            <div  class="col-md-12">
                                <label>Invoice Number</label>
                                <select class="form-control" [(ngModel)]="filterObject.invoiceId" name="invoiceNo">
                                    <option [ngValue]="''">Select invoice</option>
                                    <option *ngFor="let invoice of invoices" [ngValue]="invoice">{{invoice}}</option>
                                </select>                                                                              
                            </div>
                            </div>                                 
                            <div class="col-md-3 form-group">
                            <div class="col-md-6">
                                <label></label>
                                <button (click)="search()" class="btn btn-Check_status btn_new_order btn-sm"> Search</button>
                            </div>
                            <div class="col-md-6">
                                <label></label>
                                <button (click)="reset()" class="btn btn-Check_status btn_new_order btn-sm"> Reset</button>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 no-padd" >
            <div class="col-md-12 no-padd">
                <div class="panel panel-default order_history-dash_table">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Orders </strong></h3>
                    <!--div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div-->
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <e2edt-table [rows]="rows" [columns]="OrderColumns" *ngIf="rows" [search]="filterObject" [noRecordsText]="'No orders found.'" [recordsPerPage]="6"></e2edt-table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>