<div class="page-content">
            <!-- registration form -->
            <div class="container builder_dashboard">
                <div class="col-md-6">
                    <div class="row">
                        <div class="panel panel-default admin-dash_table_1">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong> Registered Users </strong></h3>
                                <!--div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div-->
                            </div>
                            <div class="panel-body padd-40 table-responsive"> 
                                <h3>Builders</h3>                           
                                <e2edt-table [rows]="builders" [columns]="userColumns" [limitTo]="2" [search]="filterObject" [noRecordsText]="'No registered users with pending status.'"></e2edt-table>
                                <a *ngIf="builders.length>0" routerLink="../registeredusers" class="btn btn-sm pull-right">
                                    More...
                                </a>   
                                <h3>Vendors</h3>                           
                                <e2edt-table [rows]="vendors" [columns]="userColumns" [limitTo]="2" [search]="filterObject" [noRecordsText]="'No registered users with pending status.'"></e2edt-table>
                                <a *ngIf="vendors.length>0" routerLink="../registeredusers" class="btn btn-sm pull-right">
                                    More...
                                </a>                             
                                <!-- <p *ngIf="!users || users.length==0" class="noRecords">
                                    <i class="fa fa-exclamation-circle fa-6" aria-hidden="true"></i>
                                    No registrations with pending status.
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 no-padd-r">
                    <div class="col-md-12 no-padd">
                        <div class="panel panel-default admin-dash_table_1">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong> Orders</strong></h3>
                                <!--div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div-->
                            </div>

                            <div class="panel-body padd-40 table-responsive">
                                 <e2edt-table [rows]="orders" [columns]="OrderColumns" *ngIf="orders" [limitTo]="7" [search]="filterObject" [noRecordsText]="'No pending orders.'"></e2edt-table>

                                <a *ngIf="orders.length>0" routerLink="../orderdetails" class="btn btn-Check_status  btn_viewmore btn-sm">
                                    More...
                                </a>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!-- inside end -->
        </div>