<div class="page-content">
        <!-- registration form -->
    <div class="containe">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h3 class="popins_font main_text">WELCOME TO BUILDERS & VENDORS</h3>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="col-md-12 service_types">
                        <h4 class="text-left"> Are you builder..? looking for vendor..?</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries It has survived not only five centuries. </p>
                        <a class="btn btn-reg" [routerLink]="['../registration','builder']">
                            Register Here
                        </a>
                        <p class="text-center padd-30">Already Registerd? Check your status here.</p>
                        <input type="text" class="check_status_field" [(ngModel)]="bEmail">
                        <a class="btn btn-Check_status btn-sm" href="javascript:void(0)" (click)="checkStatus(bEmail,'builder')">Check Status</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 service_types">
                        <h4 class="text-left">Are you Vendor..? looking for Builder..?</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries It has survived not only five centuries. </p>
                        <!-- <a class="btn btn-reg" [routerLink]="['../registration','vendor']"> -->
                        <a class="btn btn-reg" [routerLink]="['../registration','vendor']" href="javascript:void(0)">
                            Register Here
                        </a>                        
                        <p class="text-center padd-30">Already Registerd? Check your status here.</p>
                        <input type="text" class="check_status_field" [(ngModel)]="vEmail">
                        <!-- <a class="btn btn-Check_status btn-sm" href="javascript:void(0)" (click)="checkStatus(vEmail,'vendor')">Check Status</a> -->
                        <a class="btn btn-Check_status btn-sm" href="javascript:void(0)">Check Status</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>